$main-dark-color:#333;
$main-light-color:#d3ab55;

$font-size-logo: 70px;
$font-size-heading: 100px;
$font-size-subheading: 60px;



$font-family-main-name: "Nunito", sans-serif;
$font-family-sub-name: "Josefin Sans", sans-serif;
$font-family-main-heading: "Dancing Script", cursive;
$font-family-sub-heading: "Josefin Sans", sans-serif;